.bg {
  background-image: url("../../../public/images/TimeBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.container {
  position: relative;
  width: 460.85px;
  height: 284.5px;
}
.sub_image {
  position: absolute;
  top: 25%;
  left: 9px;
  width: 96%;
  height: 100%;
  z-index: 2;
  border-radius: 22px;
  opacity: 1;
  overflow: hidden;
}
.image {
  position: relative;
  z-index: 2;
}
